<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <div id="app">
    <p :style = "styleObject">Let's change the font style!</p>
    <hr>
    <p>색상 목록</p>
    <ul>
      <li>red</li>
      <li>blue</li>
    </ul>

    <p>글꼴 목록</p>
    <ul>
      <li>fantasy</li>
      <li>cursive</li>
      <li>Impact</li>
    </ul>
    <hr>

    <form @submit.prevent="changeStyle()">
      <label for="color" >색 입력 : </label>
      <input type="text"v-model="colorType" id="color">
      <br>
      <label for="font">글꼴 입력 : </label>
      <input type="text"  v-model="fontType" id="font">
      <br>
      <button  @keyup.enter = "changeStyle">변경!</button>
    </form>
  </div>

  <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>

  <script>
    const {createApp, ref} = Vue

    const app = createApp ({
        setup(){
            const colorType = ref ({
              color:'red'
            });

            const fontType = ref ({
              'font-family':'bold'
            });

            // const styleObject = reactive ({
            //     color:'red',
            //     'font-family':'Impact'
            // })
            
            const styleObject = reactive({
              colorType: {
                color: 'red'
              },
              fontType: {
                'font-family': 'bold'
              }
            });

            return {
                colorType, styleObject, fontType, changeStyle
            }
        }
    });

    app.mount("#app")

    
  </script>
</body>
</html>
