html,
body {
    box-sizing: border-box;
    margin: 0;
    width: 100%;
    padding: 0;
}

ul,
li {
    list-style: none;
    padding: 0;
    margin: 0;
}

main,
header,
footer {
    padding: 0 300px;
}

a {
    text-decoration: none;
}

header {
    display: flex;
    box-shadow: 0px 10px 15px -10px gray;
    height: 100px;
    align-items: center;
    justify-content: space-between;

}

a {
    color: gray;
}

/* navbar_left */
#logo>a {
    font-size: 30px;
}

.nav_left {
    display: flex;
    align-items: center;
}

.nav_left>#notice {
    margin-left: 20px;
}

/* navbar_right */
.nav_right {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.nav_right>div {
    margin-left: 30px;
}


main {
    margin: 20px;
    display: flex;
    flex-direction: row;
}

/* section _left */
#section_left {
    display: flex;
    flex-direction: column;
    width: 20%;
}

.hide_shop_list {
    height: 50px;
    text-align: center;
    align-items: center;
    justify-content: center;
    display: flex;
}

.profile_image_list {
    display: flex;
    flex-direction: column;
    align-items: center;
}

div.profile_image_list>* {
    width: 60%;
}

ul>li {
    margin: 10px;
}

.show_shop_list {
    display: none;
    height: 50px;
    text-align: center;
    align-items: center;
    justify-content: center;
}

.button_shop_list {
    border-radius: 7px;
    background-color: gray;
    margin-top: 10px;
}

.shops article {
    border-radius: 7px;
    height: auto;
    background-color: darkgray;
    margin-top: 10px;
}

.shops article>li {
    font-weight: bold;
    padding: 10px 0px 10px 10px;
}

.shop_list li {
    padding-left: 30px;
    padding-bottom: 10px;
}


/* vote */
.vote {
    margin-top: 10px;
    border: solid 1px;
    display: flex;
    flex-direction: column;
    padding: 10px;
}

.vote>img {
    width: 100px;

}

.vote_item>img {
    width: 40px;
}

.vote>.title,
.vote>.content {
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
}

.vote>.content {
    font-weight: bold;
}

.vote_buttons {
    display: flex;
    justify-content: right;
}

.vote_buttons>* {
    margin-left: 10px;
    padding: 5px;
}

.vote_buttons>input:first-child {
    background-color: blueviolet;
    color: white;
}

.vote_date {
    display: flex;
    margin-top: 10px;
    justify-content: center;
    font-weight: bold;
    font-size: 15px;
}

/* section right */
#section_right {
    margin-left: 20px;
    width: 80%
}

.book_list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.book_item {
    border: 1px solid;
    display: flex;
    flex-direction: column;
    align-items: center;

}

.book_img>img {
    width: 10vw;
}

/* board */
.board {
    display: flex;
    justify-content: space-evenly;
}

.populer_board {
    width: 50%;
}

.populer_board>.board_table tr:nth-child(2n + 1) {
    background-color: whitesmoke;
}

.recent_board {
    width: 50%;
}

.recent_board>table {
    border-collapse: collapse;
}

.recent_board>.board_table td,
.recent_board>.board_table th {
    border: 1px solid gainsboro;
}

.board_table {
    width: 90%;
}

.board tr {
    height: 40px;
}

/* footer */
.footer_list {
    margin: 20px;
    display: flex;
    flex-direction: row;
}

.footer_list li {
    color: aliceblue;
}

.footer_item {
    margin-left: 10px;
}

/* modal  */
.modal {
    border-radius: 10px;
    box-sizing: border-box;
    width: 450px;
    display: flex;
    flex-direction: column;
    padding: 10px 20px;
    margin: 10px;
    border: 1px solid black;
}

.modal>div:nth-child(n) {
    margin: 5px;
}

.modal * {}

.model_title {
    display: flex;
    justify-content: center;
    margin: 10px 0;
    font-weight: bold;
    font-size: 20px;
}

.modal_content>input {
    width: 300px;
    height: 25px;
}

.modal_insert_area input {
    width: 300px;
    margin-bottom: 5px;
    height: 25px;
}

div[class^=modal] button {
    height: 30px;
}

.modal_create {
    display: flex;
    justify-content: center;
}

.modal_date {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.input_area {
    display: inline;
}

.modal_date>input:nth-of-type(n) {}